services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    ports:
      - "8989:8989"
    volumes:
      - ./config/sonarr:/config
      - ${MEDIA_PATH}/TV:/tv
      - ${MEDIA_PATH}/Anime:/anime
      - D:/Torrents/Completed:/downloads
    environment:
      - TZ=${TZ}
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    ports:
      - "7878:7878"
    volumes:
      - ./config/radarr:/config
      - ${MEDIA_PATH}/Movies:/movies
      - D:/Torrents/Completed:/downloads
    environment:
      - TZ=${TZ}
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - "9443:9443"
    volumes:
      - ./config/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    ports:
      - "8080:8080"
      - "6881:6881/tcp"
      - "6881:6881/udp"
    volumes:
      - ./config/qbittorrent:/config
      - D:/Torrents:/downloads
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK_SET=022
    restart: unless-stopped