services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    ports:
      - "${JELLYFIN_PORT}:8096"
    volumes:
      - ./config/jellyfin:/config
      - ${MEDIA_PATH}/Movies:/media/movies:ro
      - ${MEDIA_PATH}/TV:/media/tvshows:ro
      - ${MEDIA_PATH}/Anime:/media/anime:ro
    environment:
      - TZ=${TZ}
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    ports:
      - "8989:8989"
    volumes:
      - ./config/sonarr:/config
      - ${MEDIA_PATH}/TV:/tv
      - ${MEDIA_PATH}/Anime:/anime
      - D:/Torrents/Completed:/downloads
    environment:
      - TZ=${TZ}
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    ports:
      - "7878:7878"
    volumes:
      - ./config/radarr:/config
      - ${MEDIA_PATH}/Movies:/movies
      - D:/Torrents/Completed:/downloads
    environment:
      - TZ=${TZ}
    restart: unless-stopped
